@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");
div.item_content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
div.item_content * {
  box-sizing: border-box;
}
div.item_content .img_wrap {
  margin: auto;
}
div.item_content .img_wrap .swiper {
  aspect-ratio: 6/5;
}
div.item_content .img_wrap .swiper .swiper-slide {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item_content .img_wrap .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
div.item_content .item_info_wrap {
  margin: 20px 10px 0 10px;
  line-height: 1.6;
}
div.item_content .item_info_wrap div {
  width: 100%;
  margin-bottom: 1rem;
}
div.item_content .item_info_wrap .item_name {
  font-weight: 500;
  font-size: 2rem;
}
div.item_content .item_info_wrap .item_price {
  font-size: 1.4rem;
  font-weight: 200;
}
div.item_content .item_info_wrap .item_description {
  font-weight: 300;
}
div.item_content .item_info_wrap .seller_list_wrap .seller_header {
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 1px rgba(128, 128, 128, 0.068) solid;
}
div.item_content .item_info_wrap .seller_list_wrap .seller_list_container::-webkit-scrollbar {
  width: 6px;
}
div.item_content .item_info_wrap .seller_list_wrap .seller_list_container::-webkit-scrollbar-thumb {
  height: auto;
  background-color: #7c7c7c;
  border-radius: 8px;
}
div.item_content .item_info_wrap .seller_list_wrap .seller_list_container::-webkit-scrollbar-track {
  background-color: #eee;
}
div.item_content .item_info_wrap .seller_list_wrap .seller_list_container ul li {
  padding: 6px;
}
div.item_content .item_info_wrap .seller_list_wrap .seller_list_container ul li > a {
  border-bottom: 1px solid #f0f0f0;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  color: #7c7c7c;
  transition: all 0.5s ease-in-out;
}
div.item_content .item_info_wrap .seller_list_wrap .seller_list_container ul li > a:hover {
  border-bottom: 1px solid red;
  padding-left: 20px;
  color: black;
}

@media (min-width: 0px) and (max-width: 1023px) {
  div.item_content .img_wrap {
    width: 100%;
  }
  div.item_content .item_info_wrap {
    width: 100%;
    font-size: 16px;
  }
  div.item_content .item_info_wrap .item_description {
    font-size: 1.1rem;
  }
  div.item_content .item_info_wrap .seller_list_wrap {
    text-align: center;
    margin: auto;
  }
  div.item_content .item_info_wrap .seller_list_wrap .seller_list_container {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  div.item_content {
    margin-top: 50px;
  }
  div.item_content .img_wrap {
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
  }
  div.item_content .item_info_wrap {
    width: calc(40% - 20px);
  }
  div.item_content .item_info_wrap .item_description {
    font-size: 1.2rem;
  }
  div.item_content .item_info_wrap .seller_list_wrap {
    text-align: left;
  }
  div.item_content .item_info_wrap .seller_list_wrap .seller_list_container {
    height: calc(3.3rem + 40px);
    overflow: auto;
  }
}