/* ============== 브랜드 스토리 =========== */
section.brand_intro>ul.brand_story>li>a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
section.brand_intro>ul.brand_story>li>a:hover {
  opacity: 0.86;
}
section.brand_intro>ul.brand_story div.info {
  opacity: 0;
  transition: all 0.3s;
}
section.brand_intro>ul.brand_story>li>a:hover>div.info {
  transform: translateY(-23px);
  opacity: 1;
}
/* ============ 꽃 =========== */
.flower_intro {
  float: left;
  position: relative;
  width: 50%;
}
section.flower_intro>ul.flower>li>a:hover {
  opacity: 0.86;
}
section.flower_intro>ul.flower div.info {
  opacity: 0;
  transition: all 0.3s;
}
section.flower_intro>ul.flower>li>a:hover>div.info {
  transform: translateY(-23px);
  opacity: 1;
}
/* =========== 향수 ========== */
.perfume_intro {
  float: right;
  width: 50%;
  position: relative;
}
section.perfume_intro>ul.perfume>li>a:hover {
  opacity: 0.86;
}
section.perfume_intro>ul.perfume div.info {
  opacity: 0;
  transition: all 0.3s;
}
section.perfume_intro>ul.perfume>li>a:hover>div.info {
  transform: translateY(-23px);
  opacity: 1;
}
/* ================ 반응형 미디어쿼리(PC) =============== */
@media all and (min-width:769px) {
  /* 세 번째 트러블 슈팅
  >> id인 imgLarge와 imgMedium이 html에서 여러번 사용돼서 class로 바꿨는데, 
     적용이 되지 않는 현상 발생.
     >> 해결 방안 필요 (해결방안 찾기 전까지는 id 중복으로도 구현 가능해서 id로 사용)
  */ 
  #imgLarge {
    display: block;
    width: 100%;
    height: 330px;
  }
  #imgMedium {
    display: none;
  }
  #brandStoryFont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-top: -60px;
    margin-left: -200px;
  }
  #flowerIntroFont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -50px;
    margin-left: -150px;
  }
  #perfumeIntroFont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -50px;
    margin-left: -150px;
  }
}
/* =============== 반응형 미디어쿼리(태블릿 및 모바일) ===============  */
@media all and (max-width:768px) {
  #imgLarge {
    display: none;
  }
  #imgMedium {
    /* 두 번째 트러블 슈팅 부분
    >> 미디어 크기가 768px 이하로 변경될 경우, 
       브랜드와 꽃/향수 이미지가 각각 다른 높이를 갖고 꽃/향수는 겹쳐져서 호버 시, 올라오는 글자 이미지까지 겹치는 현상
       >> section 크기를 조절해도 이미지 크기가 변하지 않는 문제점.
       >> 이미지에 고정 높이 값 설정 >> 해결 
    */ 
    display: block;
    width: 100%;
    height: 300px;
  }
  #brandStoryFont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
  }
  #brandStoryFont>img { /* 폰트 이미지가 부모요소 div의 수직 중앙 정렬이 되지 않아서 이미지 자체에 마진을 주어 해결 */
    margin-top: 12px;
  }
  #flowerIntroFont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
  }
  #perfumeIntroFont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;
  }
  #brandStoryFont.info, 
  #flowerIntroFont.info, 
  #perfumeIntroFont.info { /* 폰트 이미지들의 좌측 쏠림 현상 > 중앙 정렬로 해결 */
    text-align: center;
  }
  section.brand_intro>ul.brand_story div.info, 
  section.flower_intro>ul.flower div.info,
  section.perfume_intro>ul.perfume div.info {
    opacity: 1;
  }
  section.brand_intro>ul.brand_story>li>a:hover>div.info,
  section.flower_intro>ul.flower>li>a:hover>div.info,
  section.perfume_intro>ul.perfume>li>a:hover>div.info {
    transform: translateY(0px);
    opacity: 1;
  }
  .flexbox>section.cfixed { 
    /* 첫 번째 트러블슈팅 > 해당 미디어 크기에서 꽃/향수 이미지가 겹쳐짐
    >> object-fit 사용하여 자름. 
    */
    width: 100%;
    height: 300px; 
    object-fit: cover;
    overflow: hidden;
  }
}