table {
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: 50px auto 0 auto;
    background-color: #fff;
    table-layout: auto; /* auto로 설정 */
}
th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr {
    width: 100%;
    height: 50px;
}
th {
    background-color: whitesmoke;
    font-weight: bold;
    white-space: nowrap; /* 제목 셀 내부 텍스트가 넘칠 경우 줄바꿈 방지 */
    overflow: hidden; /* 제목 셀 내부 텍스트가 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 제목 셀 내부 텍스트가 넘칠 경우 생략 부호 (...) 표시 */
}
tr:hover {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.title {
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    max-width: 500px; /* 제목 셀 최대 너비 지정 */
    overflow: hidden; /* 제목 셀 내부 텍스트가 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 제목 셀 내부 텍스트가 넘칠 경우 생략 부호 (...) 표시 */
}
.notice-content {
    display: none;
}
