@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans+KR:wght@300&display=swap");
.content2{
    margin: 0 auto;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}
.itembox{
    /* background-color: antiquewhite; */
    width: 45%;
    height: 450px;
    margin-bottom: 5%;
}
.itembox img{
    width: 100%;
    height: 90%;
}
.itembox img:hover{
    opacity: 0.3;
    transition: all 0.3s;
}
.itembox h3{
    text-align: center;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
@media all and (min-width:768px) and (max-width:1024px){
    .itembox{
        height:400px;
    }
}
@media all and (max-width:768px){
    .itembox{
        height: 40vh;
    }  
    .content2{
        padding-top: 30px;
    } 
}
