.shop_info {
    background-color: white;
    display: grid;
    justify-content: center;;
}

#map {
    position: relative;
    width: 60%;
    height: 600px;
    margin: 10px auto 0 auto;
    border-radius: 2%;
}

.text_box {
    width: 60%;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
}

.text {
    color: gray;
    font-size: 15px;
}

.store_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 50px auto 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 550px;
    border-radius: 2%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.store-info {
    display: flex;
}

.store-image {
    margin-right: 10px;
    width: 400px;
    height: 400px;
    border: solid 1px black;
}

.store-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store_address_box {
    width: 100%;
    height: 20%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.store_address,
.store_tel {
    font-size: 14px;
    text-align: center;
}

.store-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
}

.store_name {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
}

.store_description {
    font-size: 14px;
    color: black;
}

@media screen and (max-width: 767px) {
    #map {
        width: 100%;
        height: 300px;
    }

    .modal-content {
        width: 80%;
        height: 90%;
    }

    .store-image {
        width: 100%;
        height: 200px;
    }
}
@media screen and (max-width: 767px) {
    #map {
        width: 100%;
        height: 300px;
    }

    .modal-content {
        width: 90%;
        height: 55%;
    }

    .store-info {
    }

    .store-image {
        width: 300px;
        height: 200px;
    }

    .store_name {
        font-size: 13px;
        color: black;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .store_description {
        font-size: 11px;
        color: black;
    }

    .store_address,
    .store_tel {
        font-size: 10px;
    }
}
