@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

#btn-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#btn-up:hover {
    background-color: black;
    color: white;
}

/* 위로 가기 버튼 화살표 스타일 */
#btn-up i {
    font-size: 24px;
}

@media screen and (max-width: 767px) {

    #btn-up {
        background-color: black;
        color: white;
    }
}
